<% layout('layouts/boilerplate') %>
    <div class="container vh-90">
        <div class="row h-100">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 h-100">
                <div class="bg-image h-100" 
                        style="background-image: url('https://images.unsplash.com/photo-1613469425754-bf71d7280f65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
                        background-repeat: no-repeat;
                        background-size: cover; height: 100%; width: 100%;">
                    <div class="card shadow registerCard">
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <form action="/login" method="POST" class="validated-form" novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" required
                                        autofocus>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class='d-grid gap-2'>
                                    <button class="btn btn-secondary btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>